<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="{{dataTarget}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog builder-widget" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Graph Builder</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">

	        <div class="row dropdown">
	        	<h4>Select a Data Source</h4>
				<select id="data-source-select" name="ds-name" onchange={{action 'getData' value="target.value" }}  class="form-control">
					<option></option>
				{{#each model.datasources as |source|}}
					<option value={{source.id}} 
					        selected={{isEq source.id selectedSource}}>{{source.label}}</option>
				{{/each}}
				</select>					  
			</div>
			<!-- Uses json-2-table component to table-ize data -->
			
			{{#if showDataSourcePreview}}
			{{partial templates/partials/spinner}}
			<div class="row data-preview animated fadeIn" style="width: 80%; height:150px;overflow:auto; border: 1px solid #ccc;">	
				{{json-2-table displayData=previewData showVizSelection=showVizSelection}}
			</div>
			{{/if}}

				
			

			{{#if showVizSelection}}

			<div class="row">
				<div class="col-md-12">
			  		<div style="margin-top: 20px;">
						<h4>Select a Visualization Type</h4>
					</div>
				</div>
			</div>
			<div class="row graph-library animated fadeIn">
				{{#each graphOptions as |graph|}}
				<div class="col-sm-3 col-md-3 col-lg-2">
				  <a class="thumbnail viz-selection">
					<img data-graph={{graph.id}} src="{{graph.img}}" class="img-responsive" {{action 'showGraphDataModel' graph on='click'}}>
					<hr>
					<h5><strong>{{graph.label}}</strong></h5>
				  </a>
				</div>
				{{/each}}
			</div>			
			{{/if}}
			

			<!-- Show this area when a viz type is selected -->
			{{#if showDataModel}}
			<div class="row animated fadeIn">
				<h4  style="margin-top: 20px;">Specify a data field for each required input</h4>
				
				
				{{#each scopeDataModel as |fieldInput|}}
					<div class="data-model-input">
						<h5>{{fieldInput.label}}:</h5>
							<select name={{fieldInput.name}} onchange={{action 'tryGraphRender' value="target.value" }} class="form-control">
									<option value=""></option>
								{{#each-in previewData.[0] as |colName index|}}
									<option value={{colName}}>{{colName}}</option>
								{{/each-in}}
							</select>
					</div>
				{{/each}}				
				
				
				
			</div>
			{{/if}}

			<!-- Moment of truth... graph time!! -->
			{{#if renderGraph}}			
			<div class="row">
				<div class="col-md-8 gbw-graph">
				{{component scopeComponent dataSourceUrl=dataSourceUrl tbItemConfig=tbItemConfigTemp}}
				</div>
			</div>
			{{/if}}

			<!-- Begin data filter section -->
			{{#if showDataFilters}}
				<div class="row">
					<div class="col-md-12">
				  		<div style="margin-top: 20px;">
							<h4 style="float:left;">Add Filters (Optional)</h4>
							<button style="margin-top:0;" class="btn btn-default" {{action 'addFilter'}}>Add Filter</button>
						</div>
					</div>
				</div>				
				<div class="data-filters">
				{{#each filters as |filter|}}
				<div class="row animated fadeIn">
				  <div class="data-filters-row">
					<select name="ds-name" onchange={{action 'updateFilter' value="target.value"}}  class="form-control data-filters-field">
						{{#each-in scopeData.[0] as |colName index|}}
							<option value={{colName}}>{{colName}}</option>
						{{/each-in}}
					</select>
					<select onchange={{action 'updateFilter'}} class="form-control data-filters-eval">
						<option>=</option>
						<option>!=</option>
						<option>&lt;</option>
						<option>&gt;</option>							
						<option>&lt;=</option>
						<option>&gt;=</option>
						<option>in</option>
						<option>not in</option>
					</select>
					<input onchange={{action 'updateFilter'}} class="form-control data-filters-value" type="text">
					<button {{action 'applyFilter'}} class="btn btn-success data-filters-delete">Apply</button>
					<button {{action 'deleteFilter' filter.id}} class="btn btn-default data-filters-delete"><i class="fa fa-times"></i></button>
					  </div>
					</div>
					{{/each}}					
				</div>	
			{{/if}}
			<!-- end data filter section -->				
			
			
	      </div>
	  </div> <!-- model body container -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" {{action 'closeGBW'}}>Close</button>
	        <button disabled={{disableSave}} {{action 'saveBoardItem'}} type="button" class="btn btn-tola-accent">Save changes</button>
	      </div>
	    </div>
	  </div>
	<!-- </div> -->
</div>
