<li data-index="{{index}}">
	<div class="widget-ui btn-group">
		{{#if itemMutable}}
			<!-- The graph-builder-widget component would need to be in either this template, or the parent component of this component in order to fire. The render-tolaboard-item component is intended to be used in all cases of rendering a tolaboard item, so only the designer component needs the graph-builder-widget template -->
			<button {{action 'activateGraphBuilder'}} data-toggle="modal" data-target="{{dataTarget}}" class="btn btn-xs"><span class="fa fa-edit"></span></button>
			<button {{action 'deleteWidget'}} class="btn btn-xs delete-button"><span class="fa fa-trash"></span></button>
		{{/if}}
	</div>
	<!-- scopeGraph gets determined in tbItemConfig and defined once this Ember view is inserted -->
	{{#if toggleRender}}
	<div class="viz-target">
		<p>{{tbItemConfig.silo.recordsTotal}}</p>

	</div>
	{{/if}}

</li>

{{graph-builder-widget
	      model=model
	      index=index
	      tbItemConfig=tbItemConfig
	      updateSaveBoardItem='updateSaveBoardItem'}}





<!-- The nature of this component is a bit odd... didInsertElement event uses gridster api
     to draw grid, but then nested child component draws graph.  -->
