<li data-index="{{index}}">
	<div class="widget-ui btn-group">
		{{#if itemMutable}}
			<!-- The graph-builder-widget component would need to be in either this template, or the parent component of this component in order to fire. The render-tolaboard-item component is intended to be used in all cases of rendering a tolaboard item, so only the designer component needs the graph-builder-widget template -->
			<button {{action 'activateGraphBuilder'}} data-toggle="modal" data-target="{{dataTarget}}" class="btn btn-xs"><span class="fa fa-edit"></span></button>
			<button {{action 'onDeleteItem'}} class="btn btn-xs delete-button"><span class="fa fa-trash"></span></button>
		{{/if}}
	</div>
	<!-- scopeGraph gets determined in tbItemConfig and defined once this Ember view is inserted -->
	{{#if toggleRender}}
	<div class="viz-target">
		{{component tbItem.graph.embercomponent tbItem=tbItem tbItemConfig=tbItemConfig inputToModelMapper=inputToModelMapper dataSources=dataSources}}
	</div>
	{{/if}}

</li>

<!-- Only need modal builder if it's mutable -->
{{#if itemMutable}}
	{{modal-graph-builder tbItem=tbItem index=index onSaveBoard=onSaveBoard toggleGraphRendering=toggleGraphRendering}}
{{/if}}

<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="{{deleteTarget}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog delete-tolaboard-item" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Delete Item</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">

	        <div class="row">
    				<h5>Are you sure you want to delete this item?</h5>
						<button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-danger" {{action 'onDeleteWidget'}}>Delete</button>
    			</div>




	      </div>
	  </div> <!-- model body container -->

	    </div>
	  </div>
</div>
