<!-- View to create/define new dashboard -->
<section class="create-view">
    <div class="container">
        <div class="panel panel-default tb-designer-header">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>TolaBoard Designer</h3>
                        </div>

                        <div class="col-md-6 col-md-offset-2">
                            <div class="btn-group" role="group">
                                <div class="btn-group">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Edit TolaBoard
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {{#each model.boards as |board|}}
                                      <li>{{#link-to 'dashboards' board}} {{board.title}} {{/link-to}}</li>
                                    {{/each}}
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button {{action 'createNewBoard'}} class="btn btn-tola-accent">New TolaBoard</button>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end first panel -->    
            
        {{#if showGridLayout}}
        <div class="panel panel-default tb-designer-header">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">         
                        <div class="tolaboard-save">
                            <button {{action 'clearBoard'}} class="btn btn-default">Clear</button>
                            <button {{action 'saveBoard'}} class="btn btn-success">Save</button>
                        </div>
                        <div class="design-window">
                        
                        <button class="btn btn-default" {{action 'addItem' on='click'}}>Add Component</button>
                        
                        <h2>{{model.title}}</h2>
                        <div class="gridster">
                            <ul><!-- gridster stuff -->
                            <!-- new approach model can have tolaboard if id passed into route via dynamic model aslo can get defined by creating new tb
                            with buttons -->
                            
                            <!-- render is responsible for displaying an item, and it's also responsible for letting
                                 tb-designer know which item is 'active' by setting the value, so it can be passed
                                 to the gbw component below -->
                            {{#each model.currBoard.items as |tbItemConfig index|}}                                
                                {{render-tolaboard-item index=index
                                itemMutable=true tbItemConfig=tbItemConfig 
                                model=model
                                setActiveWidget='setActiveWidget'
                                setActiveElement='setActiveElement'
                                setActiveIndex='setActiveIndex'
                                removeTBItem='removeItem'
                                setActiveTBItemConfig='setActiveTBItemConfig'
                                }}  
                            {{/each}}
                            
                            </ul>
                        </div>
                        
                        
                                    
                            <!-- Single instance of this component shared across tolaboard-item components.. triggered by modal which is activated by the edit button (pencil) in the tolaboard-item component template

                            Passed in by tolaboard-designer:
                                         dataSources
                                         graphOptions
                                         itemHome

                            Defined in this component:
                            saveTolaBoard - passed to builder widget
                                    -->

                        </div>
                                    
                    </div>
                </div>
                        
            </div>
        </div>
        {{/if}}
    
    </div>
</section>