<!-- View to create/define new dashboard -->
<section class="create-view">
    <div class="container">
      <div class="row">
          <button class="btn btn-success add-item-button" {{action 'onAddItem' on='click'}}>Add Item</button>

      </div>

      <div class="row">
        <h2>{{model.title}}
        <button data-toggle="modal" data-target="#edit-title" type="button" class="btn btn-primary btn-xs" {{action 'onEditTitle'}}>Edit</button></h2>

      </div>


      <div class="gridster">
        <ul><!-- gridster stuff -->
            <!-- new approach model can have tolaboard if id passed into route via dynamic model aslo can get defined by creating new tb
                with buttons -->

            <!-- render is responsible for displaying an item, and it's also responsible for letting
                                 tb-designer know which item is 'active' by setting the value, so it can be passed
                                 to the gbw component below -->
            {{#each model.items as |tbItem index|}}
              {{render-tolaboard-item index=index
                                      itemMutable=true
                                      tbItemConfig=tbItem
                                      tbItem=tbItem
                                      model=model
                                      onSaveBoard=onSaveBoard
              }}
            {{/each}}
        </ul>
      </div>
    </div>
</section>

<!-- Modal -->
<!-- <div class="container"> -->
<div class="modal fade" id="edit-title" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog add-tolaboard-modal" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">TolaBoard Title</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="container-fluid">

	        <div class="row">
    				<input id="newTBName" value={{model.title}} type="text" size="50" placeholder="Enter TolaBoard Title">
            <button class="btn btn-cancel">Cancel</button>
            <button class="btn btn-success" {{action 'createBoard'}}>Save</button>
    			</div>




	      </div>
	  </div> <!-- model body container -->

	    </div>
	  </div>
</div>
